{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="timelineSZ" >
        <div class="g-grid">
            
            <div class="g-block">
                <div class="g-content">
                    <div>
                        {#HEADLINE#}
                        {% if particle.maintitle %}
                            <h2 class="sz-particles-title">{{ particle.maintitle|raw }}</h2>
                        {% endif %}

                        {#SUBTITLE#}
                        {% if particle.subtitle %}
                            <div>
                                <h3 class="sz-particles-subtitle">{{ particle.subtitle|raw }}</h3>
                            </div>
                        {% endif %}                          
                        
                        {#DESCRIPTION#}
                        {% if particle.description %}
                            <p class="sz-particles-description">{{ particle.description|raw }}</p>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sz-timeline">
            {% for event in particle.events %}
                <div class="container {{ event.position }} {{ event.class }}">
                    <div class="content">
                        <div class="sz-timeline-eventDate">{{ event.date }}</div>
                        <div class="sz-timeline-eventTitle">{{ event.eventTitle|raw }}</div>
                        <div class="sz-timeline-eventSubtitle">{{ event.eventSubtitle|raw }}</div>                        
                        <p class="sz-timeline-eventDescription">{{ event.description|raw }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        
    </div>
{% endblock %}
